<!doctype html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="project">
  <meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="stylesheet" href="/assets/css/accountcomplete.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
  <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
  <title>作成完了画面</title>
</head>

<body id="top">
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">title</a>
    </div>
  </nav>
  <div class="form-wrapper">
    <h3>作成完了画面</h3>
    <h4>アカウント作成が完了しました</h4>
    <form class="row g-3">
      <h5>メールアドレス/パスワード</h5>
      <table class="table table-bordered border-dark" style="table-layout:fixed;">
        <tbody>
          <tr>
            <th class="table-primary border-dark" scope="row" style="width:200px;">メールアドレス</th>
            <td style="width:400px;"><input type="hidden" name="email" value="{{.Email}}">{{.Email}}</td>
          </tr>
          <tr>
            <th class="table-primary border-dark" scope="row">パスワード(セキュリティの都合により表示されません)</th>
            <td><input type="hidden" name="password" value="{{.Password}}">****************</td>
          </tr>
        </tbody>
      </table>
      <h5>基本情報</h5>
      <table class="table table-bordered border-dark" style="table-layout:fixed;">
        <tbody>
          <tr>
            <th class="table-primary border-dark" scope="row" style="width:200px;">氏名</th>
            <td style="width:400px;"><input type="hidden" name="name" value="{{.UserName}}">{{.UserName}}</td>
          </tr>
          <tr>
            <th class="table-primary border-dark" scope="row">フリガナ</th>
            <td><input type="hidden" name="name_ruby" value="{{.UserNameRuby}}">{{.UserNameRuby}}</td>
          </tr>
          <tr>
            <th class="table-primary border-dark" scope="row">生年月日</th>
            <td style="width:400px;"><input type="hidden" name="birth_year" value="{{.BirthYear}}">{{.BirthYear}}年
              <input type="hidden" name="birth_month" value="{{.BirthMonth}}">{{.BirthMonth}}月
              <input type="hidden" name="birth_day" value="{{.BirthDay}}">{{.BirthDay}}日
            </td>
          </tr>
          <tr>
            <th class="table-primary border-dark" scope="row">郵便番号</th>
            <td><input type="hidden" name="zipcode" value="{{.Zipcode}}">{{.Zipcode}}</td>
          </tr>
          <th class="table-primary border-dark" scope="row">住所都道府県</th>
          <td><input type="hidden" name="prefecture" value="{{.PrefectureAddress}}">{{.PrefectureAddress}}</td>
          </tr>
          <tr>
            <th class="table-primary border-dark" scope="row">住所郡市区（島）</th>
            <td style="width:400px;"><input type="hidden" name="city" value="{{.CityAddress}}">{{.CityAddress}}</td>
          </tr>
          <tr>
            <th class="table-primary border-dark" scope="row">上記以降の住所</th>
            <td><input type="hidden" name="streeet" value="{{.StreetAddress}}">{{.StreetAddress}}</td>
          </tr>
          <tr>
            <th class="table-primary border-dark" scope="row">電話番号</th>
            <td><input type="hidden" name="phonenumber" value="{{.PhoneNumber}}">{{.PhoneNumber}}</td>
          </tr>
        </tbody>
      </table>
    </form>
  </div>
  <div>
    <a role="button" id="back-to-product-page" class="btn btn-primary" href="createaccount.html">戻る</a>
  </div>
</body>

</html>