<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>home</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"></script>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">title</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">購入履歴一覧</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">会員情報管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">配送先管理</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="#">カート</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <article>
    <div class="side">
      <h5>ジャンルで調べる</h5>
      <ul class="list">
        <li id="list-products-1"><a href="#">アスパラガス</a></li>
        <li id="list-products-2"><a href="#">枝豆</a></li>
        <li id="list-products-3"><a href="#">かぼちゃ</a></li>
        <li id="list-products-4"><a href="#">キャベツ</a></li>
        <li id="list-products-5"><a href="#">きゅうり</a></li>
        <li id="list-products-6"><a href="#">にんじん</a></li>
        <li id="list-products-7"><a href="#">オクラ</a></li>
      </ul>
    </div>
    <div>
      <ul class="slider">
        <div id="img-product"><a href="#"><img src="/assets/img/ninzin.jpg" alt=""></a></div>
        <div id="img-product"><a href="#"><img src="/assets/img/ninzin.jpg" alt=""></a></div>
        <div id="img-product"><a href="#"><img src="/assets/img/ninzin.jpg" alt=""></a></div>
        <div id="img-product"><a href="#"><img src="/assets/img/ninzin.jpg" alt=""></a></div>
        <div id="img-product"><a href="#"><img src="/assets/img/ninzin.jpg" alt=""></a></div>
      </ul>
    </div>
  </article>
  <div class="detail">
    <div class="det-mar">
      <ul>
        <li>
          <h3>商品名：</h3>
        </li>
        <li>
          <h3>生産者：</h3>
        </li>
        <li>
          <h3>　価格：</h3>
        </li>
      </ul>
    </div>
    <div class="det-mar">
      <ul>
        <li>
          <h3>　　在庫：</h3>
        </li>
        <li>
          <h3>取引期限：</h3>
        </li>
        <li>
          <h3>商品詳細：</h3>
        </li>
      </ul>
    </div>

  </div>
  <div class="detail description">
    <h3>商品説明：</h3>
  </div>
  <div class="buy-opt">
    <select class="form-select-sm" aria-label="Default select example">
      <option selected>0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
      <option value="31">31</option>
      <option value="32">32</option>
      <option value="33">33</option>
      <option value="34">34</option>
      <option value="35">35</option>
      <option value="36">36</option>
      <option value="37">37</option>
      <option value="38">38</option>
      <option value="39">39</option>
      <option value="40">40</option>
      <option value="41">41</option>
      <option value="42">42</option>
      <option value="43">43</option>
      <option value="44">44</option>
      <option value="45">45</option>
      <option value="46">46</option>
      <option value="47">47</option>
      <option value="48">48</option>
      <option value="49">49</option>
      <option value="50">50</option>
      <option value="51">51</option>
      <option value="52">52</option>
      <option value="53">53</option>
      <option value="54">54</option>
      <option value="55">55</option>
      <option value="56">56</option>
      <option value="57">57</option>
      <option value="58">58</option>
      <option value="59">59</option>
      <option value="60">60</option>
      <option value="61">61</option>
      <option value="62">62</option>
      <option value="63">63</option>
      <option value="64">64</option>
      <option value="65">65</option>
      <option value="66">66</option>
      <option value="67">67</option>
      <option value="68">68</option>
      <option value="69">69</option>
      <option value="70">70</option>
      <option value="71">71</option>
      <option value="72">72</option>
      <option value="73">73</option>
      <option value="74">74</option>
      <option value="75">75</option>
      <option value="76">76</option>
      <option value="77">77</option>
      <option value="78">78</option>
      <option value="79">79</option>
      <option value="80">80</option>
      <option value="81">81</option>
      <option value="82">82</option>
      <option value="83">83</option>
      <option value="84">84</option>
      <option value="85">85</option>
      <option value="86">86</option>
      <option value="87">87</option>
      <option value="88">88</option>
      <option value="89">89</option>
      <option value="90">90</option>
      <option value="91">91</option>
      <option value="92">92</option>
      <option value="93">93</option>
      <option value="94">94</option>
      <option value="95">95</option>
      <option value="96">96</option>
      <option value="97">97</option>
      <option value="98">98</option>
      <option value="99">99</option>
    </select>　個
    <button id="btn-add-wishlist" class="btn btn-primary" type="submit">wishlistに追加</button>
  </div>
  <footer id="site-footer">
    <nav id="fnav">
      <ul id="fnav__menu">
        <li id="link-to-about-us"><a href="#">about us</a></li>
        <li id="link-to-contact-us"><a href="#">問い合わせ</a></li>
      </ul>
      <p class="cr">©copyright</p>
    </nav>
  </footer>
  </div>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  <script src="/assets/js/product.js"></script>
</body>

</html>