#link-to-edit-userinfo-page{
    margin-top: 80px;
    margin-left: 40%;
}

#link-to-edit-password-page{
    margin-top: 100px;
    margin-left: 40.5%;
}

#link-to-edit-address-page{
    margin-top: 100px;
    margin-left: 41%;
}