h4{
    margin-left: 40%;
    margin-bottom: 10%;
    display: table;
    background-color: rgb(12, 155, 250);
}

#link-to-userinfo-page{
    margin-left: 41%;
    margin-top: 60px;
}

nav{
    margin-bottom: 150px;
}

h5{
    position: absolute;
    top:70%;
    left:35%;
}