h4{
    background-color: red;
    display: table;
    margin-left: 10%;
    white-space: nowrap;
}

h5{
    background-color: yellow;
    display: table;
    margin-left: 5%;
    white-space: nowrap;
}

.btn-primary{
    margin-left: 30%;
}

.form-wrapper{
    margin-left: 20%;
}
.col-10{
    margin-bottom: 20px;
}