.form-wrapper{
    margin-left: 20%;
}

.btn-primary{
    margin-left: 37%;
}

.btn-outline-secondary{
    margin-left: 40%;
    white-space: nowrap;
}

.btn-success{
    margin-left: 49%;
    margin-top: 20px;
    white-space: nowrap;
}