h4{
    margin-left: 40%;
    display: table;
    background-color: rgb(12, 155, 250);
}

#link-to-userinfo-page{
    margin-left: 41%;
    margin-top: 60px;
}

nav{
    margin-bottom: 150px;
}